<div class="center hero-unit">
	<h1>Welcome to Worship Tuner</h1>
	<h2>
		Featuring the first ever community driven collaborative worship chord chart library!
	</h2>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>