<% provide(:title, 'Who We Are') %>

<h1>Who We Are</h1>

<section class="content">
	<p>If you've been a worship leader for a while or you're just starting your career, you've probably had times when you want to try something different with a song but don't have any ideas on how to make it different. There is a difference in being a worship leader and a worship <em>artist</em>. The difference is that for some, changing the style to a song or adding different elements to a song (lighting schemes, a video, new song mapping, etc) comes naturally and is easy to do. For others, this is no easy task. It takes a lot of mental effort and discussion with others to think of new ideas. This is where Worship Tuner comes in...</p>
	<br />
	<p>Worship Tuner is not your average chord chart library website. It is a place where worship leaders (and worship artists) can come and share different arrangements to songs that they perform. You can create and share your own arrangement for a particular. Share your ideas on lighting schemes that work well with the song, share what kind of loop tracks you've used with it, share any scripture that you have accompanied with the song, or anything else for that matter.</p>
	<br />
	<p>Our sole goal in creating this website was to create a community where this kind of collaboration amoung worship leaders could happen. Yes, we have user uploaded chord charts that you can print off so we are a chord chart library, but our main purpose is to help worship leaders get creative ideas on things that they can do with the songs to further faciliate their worship. We hope you enjoy this site and if you have any questions or concerns just click on over to our <%= link_to "contact page", contact_path %> and drop us a line.</p>
</section>
